@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

.footer {
    background: #1A1A1A;
    gap: 100px;
    padding: 75px 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yaziFooter {
    font-family: Londrina Solid;
    font-size: 50px;
    line-height: 50px;
    width: 15%;
    color: white;
}

.solFooter {
    color: white;
    width: 290px;
}

.solFooter img {
    padding-right: 3%;
}

.solFooterYazi {
    font-size: 15px;
    padding-top: 10%;
    color: white;
}

.ortaFooter {
    color: white;
}

.ortaFooter div {
    padding-top: 7%;
    color: white;
}

.ortaFooter h3 {
    padding-bottom: 5%;
    color: white;
}

.sagFooter {
    color: white;
    width: 400px;
}

.sagFooter div {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
    color: white;
}

.sagFooter h3 {
    padding-bottom: 5%;
    color: white;
}

.sagFooter img {
    width: 100px;
    height: 100px;
}

.infoGrup {
    background: #1A1A1A;
    color: white;
    font-family: Barlow;
    font-size: 16px;
}

.info {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    width: 100%;
}